html,
body,
#root {
  height: 100%;
  
}
footer {
  background-color: white;
  display: flex;
  color: black;
  text-align: center;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: rgb(255, 255, 255);
  background-size: cover;
  background-image: url('https://i0.wp.com/backgroundabstract.com/wp-content/uploads/edd/2022/04/vecteezy_Lavender-Lilac-Background-2_ir1020__generated-e1655987350100.jpg?resize=150150&ssl=1');
}

.App .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: black;
  border-radius: 10px 20px 30px;
  background-color: rgb(81, 7, 81);
  text-decoration-color: black;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  border-radius: 10px 20px 30px;
}

label.radio + .radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}

.content p {
  color: white;
}
.content .button.is-info.is-medium {
  background-color: #73d693;
  color: black;
}
.content .button.is-success {
  background-color: #73d693;
  color: #000000;
}
.content .button.is-info.mr-2 {
  background-color: white;
}

.content .button.is-link.is-medium.is-fullwidth.mt-4 {
  background-color: rgb(230, 227, 232);
  color: rgb(0, 0, 0);
}

.modal .modal-background {
  background-color: white;
}

.modal .modal-card-head {
  background-color: white;
}

.modal .modal-card-title{ 
  color: black;
}
.modal .modal-card-body {
  background-color: white;
  color: black;
  
}

.modal .modal-card-foot {
  background-color: white;
}
.mb-6 strong {
  color: #000000; /* Texto preto */
}
